<a href="https://colab.research.google.com/github/dhivyapm/NLP/blob/main/Copy_of_imdb_unsup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import os
import re
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
url = "https://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz"

dataset = tf.keras.utils.get_file("aclImdb_v1.tar.gz", url,
                                    untar=True, cache_dir='.',
                                    cache_subdir='')

dataset_dir = os.path.join(os.path.dirname(dataset), 'aclImdb')

Downloading data from https://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 5s 0us/step

In [ ]:
os.listdir(dataset_dir)

['train', 'imdbEr.txt', 'imdb.vocab', 'test', 'README']

In [ ]:
train_dir = os.path.join(dataset_dir, 'train')
os.listdir(train_dir)

['urls_unsup.txt',
 'labeledBow.feat',
 'unsupBow.feat',
 'urls_neg.txt',
 'urls_pos.txt',
 'pos',
 'neg',
 'unsup']

In [ ]:
from glob import glob
input_path = './aclImdb/train'
# glob method from glob library used to retrieve files in specified path
txt_paths = glob(input_path + '/unsup/*.txt')

In [ ]:
#reading the files in the path specified
def get_text_from_file(path):
    with open(path, 'r') as file:
        return file.read()

In [ ]:
import pandas as pd
#storing the review data to dataframe
df = pd.DataFrame({'review': txt_paths})
df['review'] = df['review'].apply(lambda path: get_text_from_file(path))

In [ ]:
#saving the dataframe into csv format in the location
output_path = './unsup.csv'
df.to_csv(output_path, index = None, header=True)

In [ ]:
import pandas as pd
#reading the csv file 
df = pd.read_csv('/content/unsup.csv', sep=',')
df.head(5)

                                              review
0  Sometimes I review lists of the greatest 10, 2...
1  When I first heard that Eddie Murphy was going...
2  taking this legacy and making it into a movie ...
3  Truly, truly awful. The questions were mind-nu...
4  The idea of a mockumentary on creating a stere...

In [ ]:
#removing the punctuations from review column in the file 
punc = '''!()-[]{};:'"\, <>./?@#$%^&*_~''</br>,;'''
for ele in df['review']:  
    if ele in punc:  
        df['review'] = test_str.replace(ele, "")

In [ ]:
#converting the reviews to lowercase
df['review'] = df['review'].apply(str.lower)

In [ ]:
#count the sentence in each row in dataframe
#df['sentence_count'] = df.apply(lambda row: nltk.sent_tokenize(row['review']), axis=1).apply(lambda x: len(x))
from collections import Counter
from nltk.corpus import stopwords
#Word Tokenize the reviews
df['clean_review'] = df.apply(lambda row: nltk.word_tokenize(row['review']), axis=1)
  
#Convert the tokens into lowercase
df['clean_review'] = df.apply(lambda row: [t.lower() for t in row['clean_review']], axis=1)
    
#Retain only alphabetic_words
df['clean_review'] = df.apply(lambda row: [t for t in row['clean_review'] if t.isalpha()], axis=1)    
    
#Remove all stop words
nltk.download('stopwords')
df['clean_review'] = df.apply(lambda row: [t for t in row['clean_review'] if t not in stopwords.words('english')], axis=1) 
    
#Instantiate the WordNetLemmatizer
from nltk import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
# stripping suffixes such as ‘ed’, ‘ing’, ‘tion’ etc. Ex. stemming ‘walked’ returns walk.  
nltk.download('wordnet')
df['clean_review'] = df.apply(lambda row: [lemmatizer.lemmatize(t) for t in row['clean_review']], axis=1)
    
#Stored Counter of tokenized words
df['word_count'] = df.apply(lambda row: Counter(row['clean_review']), axis=1)
df

                                                  review  ...                                         word_count
0      sometimes i review lists of the greatest 10, 2...  ...  {'sometimes': 1, 'review': 2, 'list': 3, 'grea...
1      when i first heard that eddie murphy was going...  ...  {'first': 1, 'heard': 1, 'eddie': 1, 'murphy':...
2      taking this legacy and making it into a movie ...  ...  {'taking': 1, 'legacy': 1, 'making': 1, 'movie...
3      truly, truly awful. the questions were mind-nu...  ...  {'truly': 3, 'awful': 1, 'question': 1, 'dumb'...
4      the idea of a mockumentary on creating a stere...  ...  {'idea': 1, 'mockumentary': 1, 'creating': 1, ...
...                                                  ...  ...                                                ...
49995  i saw this film at vision fest'05 in new york....  ...  {'saw': 1, 'film': 2, 'vision': 2, 'new': 1, '...
49996  i saw derailroaded at the ica in london and i ...  ...  {'saw': 1, 'derailroaded': 2, 'ica': 1, 'londo...
49997  first, i was attracted by the trailer but i ne...  ...  {'first': 1, 'attracted': 1, 'trailer': 1, 'ne...
49998  i have a feeling that most people are going to...  ...  {'feeling': 1, 'people': 1, 'going': 2, 'eithe...
49999  this is a good film to watch on a long winter ...  ...  {'good': 1, 'film': 2, 'watch': 1, 'long': 1, ...

[50000 rows x 4 columns]

In [ ]:
#nltk.download('averaged_perceptron_tagger')
#df['pos_tag'] = df.apply(lambda row: nltk.pos_tag(row['clean_review']), axis=1)
df

                                                  review  ...                                            pos_tag
0      sometimes i review lists of the greatest 10, 2...  ...  [(sometimes, RB), (review, JJ), (list, NN), (g...
1      when i first heard that eddie murphy was going...  ...  [(first, RB), (heard, NN), (eddie, NN), (murph...
2      taking this legacy and making it into a movie ...  ...  [(taking, VBG), (legacy, NN), (making, VBG), (...
3      truly, truly awful. the questions were mind-nu...  ...  [(truly, RB), (truly, RB), (awful, JJ), (quest...
4      the idea of a mockumentary on creating a stere...  ...  [(idea, NN), (mockumentary, JJ), (creating, VB...
...                                                  ...  ...                                                ...
49995  i saw this film at vision fest'05 in new york....  ...  [(saw, NN), (film, NN), (vision, NN), (new, JJ...
49996  i saw derailroaded at the ica in london and i ...  ...  [(saw, NN), (derailroaded, VBD), (ica, JJ), (l...
49997  first, i was attracted by the trailer but i ne...  ...  [(first, RB), (attracted, VBN), (trailer, NN),...
49998  i have a feeling that most people are going to...  ...  [(feeling, VBG), (people, NNS), (going, VBG), ...
49999  this is a good film to watch on a long winter ...  ...  [(good, JJ), (film, NN), (watch, NN), (long, R...

[50000 rows x 5 columns]

In [ ]:
df.to_csv('./clean_unsup.csv', index = None, header=True)